<div class="container">
    <div>
        <button [disabled]="customer"  style="margin-left: 63%;" class="btn btn-primary col-md-2" (click)='toggleBill("customer")'>Customer</button>
        <button [disabled]="!customer" class="btn btn-primary col-md-2" style="margin-left:20px;" (click)='toggleBill("dealer")'>Dealer</button>
    </div>
</div>
<div *ngIf="customer == true" class="container">
<h2>Customer Billing</h2>
<div class="col-md-8">
    <form [formGroup]="billForm">
        <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input type="text" formControlName="customerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }"
            />
            <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Customer Address</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
            />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Customer Address is required</div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 form-group">
                <label for="billNumber">Bill Number</label>
                <input type="text" formControlName="billNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.billNumber.errors }"
                />
                <div *ngIf="submitted && f.billNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.billNumber.errors.required">Bill Number is required</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="partyGstNumber">Party GSTIN</label>
                <input type="text" formControlName="partyGstNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partyGstNumber.errors }"
                />
                <div *ngIf="submitted && f.partyGstNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.partyGstNumber.errors.required">Party GSTIN is required</div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 form-group">
                <label for="date">Date</label>
                <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                    <div *ngIf="f.date.errors.required">Please select date</div>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">   
                <label for="cylinderSize">Cylinder Size</label>       
                <select class="form-control" formControlName="cylinderSize">
                    <option default>Select Size</option>
                    <option value='12'>12</option>
                    <option value='15'>15</option>
                    <option value='17'>17</option>
                    <option value='21'>21</option>                        
                </select>
            </div> 
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="description">Description</label>
                <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
            </div>           
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="quantity">Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="rate">Rate </label>
                <input type="text" formControlName="rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" />
                <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                    <div *ngIf="f.rate.errors.required">Rate is required</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="totalAmount">Total Amount</label>
                <input type="text" formControlName="totalAmount" disabled class="form-control" [ngClass]="{ 'is-invalid': submitted && f.totalAmount.errors }"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="cgst">CGST %</label>
                <input type="text" formControlName="cgst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cgst.errors }" />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="sgst">SGST %</label>
                <input type="text" formControlName="sgst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sgst.errors }" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="netAmountPayable">Net Amount Payable</label>
                <input type="text" disabled formControlName="netAmountPayable" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.netAmountPayable.errors }"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="amountPaid">Amount Paid</label>
                <input type="text" formControlName="amountPaid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amountPaid.errors }"
                />
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                <label for="amountDue">Amount Due</label>
                <input type="text" disabled formControlName="amountDue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amountDue.errors }"
                />
            </div>
        </div>


        <div class="form-group">
            <button [disabled]="billForm.invalid" class="btn btn-primary" (click)='openPdfModal(content)'>Generate Bill</button>
            <button [disabled]="billForm.invalid" class="btn btn-primary saveButton" (click)="openSaveModal(content)">Save Bill</button>
        </div>
    </form>
</div>
</div>

<div *ngIf="customer == false" class="container-fluid">
    <h2>Dealer Billing</h2>
    <br>
    <div class="row">
    <div class="col-md-8">
        <form [formGroup]="billForm">            
            <div class="row"> 
                <div class="col-md-4 col-lg-4 col-sm-4 form-group">   
                    <label for="dealer">Select Dealer</label>                           
                    <select class="form-control" formControlName="dealer">
                        <option>Select Dealer</option>
                        <option *ngFor="let dealer of dealersList" value={{dealer}}>{{dealer}}</option>
                    </select>
                </div>               
                <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                    <label for="date">Date</label>
                    <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Please select date</div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-4 form-group">   
                    <label for="cylinderSize">Cylinder Size</label>       
                    <select class="form-control" formControlName="cylinderSize">
                        <option>Select Size</option>
                        <option value='12'>12</option>
                        <option value='15'>15</option>
                        <option value='17'>17</option>
                        <option value='21'>21</option>                        
                    </select>
                  </div>                
            </div>
    
            
    
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                    />
                    <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                        <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                    <label for="rate">Rate </label>
                    <input type="text" formControlName="rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" />
                    <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                        <div *ngIf="f.rate.errors.required">Rate is required</div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                    <label for="totalAmount">Total Amount</label>
                    <input type="text" formControlName="totalAmount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.totalAmount.errors }"
                    />
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                    <label for="amountPaid">Amount Paid</label>
                    <input type="text" formControlName="amountPaid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amountPaid.errors }"
                    />
                </div>
    
                <div class="col-md-6 col-lg-6 col-sm-6 form-group">
                    <label for="amountDue">Amount Due</label>
                    <input type="text" formControlName="amountDue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.amountDue.errors }"
                    />
                </div>
            </div>        
            <div class="form-group">
                <button class="btn btn-primary" (click)='openSaveModal(content)'>Save Bill</button>
                <!-- <button class="btn btn-primary saveButton" (click)="saveBill()">Save Bill</button> -->
            </div>
        </form>
    </div>
    <div class="col-md-3 offset-md-1" style="margin-top:30px;">
        <!-- <button [disabled]="!customer" class="btn btn-success col-md-8" style="margin-left:20px;" (click)='addNewDealer()'>Add New Dealer</button> -->
        <!-- <ngbd-modal-basic></ngbd-modal-basic>         -->
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add New Dealer</button>
    </div>
    </div>

    <hr>
    <br>
    <br>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="confirm == false" id="modal-basic-title">Add New Dealer</h4>
        <h4 class="modal-title" *ngIf="confirm == true" id="modal-basic-title">Check Bill</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form *ngIf="confirm == false">        
        <div>
        	<div class="col-md-12 form-group">
        		<label for="name">Name</label>
        		<input type="text" class="form-control" name="name" [(ngModel)]="modal.name" required placeholder="enter name" />
        	</div>
        	<div class="col-md-12 form-group">
        		<label for="address">Address</label>
        		<input type="text" class="form-control" name="address" [(ngModel)]="modal.address" required  placeholder="enter Address" />
        	</div>
        	<div class="col-md-12 form-group">
        		<label for="phone">Phone</label>
        		<input type="text" class="form-control" name="phone" [(ngModel)]="modal.phone" required placeholder="enter Phone" />
        	</div>
        </div>
        <!-- <div>
        <button class="btn btn-success" [disabled]="!(modal.name && modal.phone)" (click)="addNewDealer()">Save</button>
        </div> -->
        </form>
        <!-- for customer -->
        <div class="container" *ngIf="confirm == true && customer == true">
            <pre>Customer Name:    <b>{{billData.customerName}}</b></pre>     
            <pre>Customer Address: <b>{{billData.address}}</b></pre> 
            <pre>Bill Number:      <b>{{billData.billNumber}}</b></pre>
            <pre>PartlyGST:        <b>{{billData.partyGstNumber}}</b></pre>                
            <pre>Date:             <b>{{billData.date}}</b></pre>    
            <pre>Cylinder Size:    <b>{{billData.cylinderSize}}</b></pre>                             
            <pre>Quantity:         <b>{{billData.quantity}}</b></pre> 
            <pre>Rate:             <b>{{billData.rate}}</b></pre>              
            <pre>Amount:           <b>{{billData.quantity * billData.rate}} </b></pre>       
            <pre>CGST:             <b>{{billData.cgst}}</b></pre>     
            <pre>SGST:             <b>{{billData.sgst}}</b></pre>     
            <pre>Total Amount:     <b>{{billData.netAmountPayable}}</b></pre>     
            <pre>Amount Paid:      <b>{{billData.amountPaid}}</b></pre>           
            <pre>Amount Due:       <b>{{billData.amountDue}}</b></pre>     
        </div>    

        <!-- for dealer -->
        <div>
            <div class="container" *ngIf="confirm == true && customer == false">
                <pre>Dealer:           <b>{{billData.dealer}}</b></pre>
                <pre>Date:             <b>{{billData.date}}</b></pre>
                <pre>Cylinder Size:    <b>{{billData.cylinderSize}}</b></pre>                             
                <pre>Quantity:         <b>{{billData.quantity}}</b></pre> 
                <pre>Rate:             <b>{{billData.rate}}</b></pre>                                        
                <pre>Total Amount:     <b>{{billData.netAmountPayable}}</b></pre>     
                <pre>Amount Paid:      <b>{{billData.amountPaid}}</b></pre>           
                <pre>Amount Due:       <b>{{billData.amountDue}}</b></pre>    
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="confirm == false" class="btn btn-success" [disabled]="!(modal.name && modal.phone)" (click)="modal.close(modal)">Save</button>
        <button type="button" *ngIf="confirm == true" class="btn btn-success" (click)="modal.close(modal)">Save</button>
    </div>
</ng-template>
            
      
