<div class="col-md-8 offset-md-1">
    <form [formGroup]="stockForm">       
          <legend>Stock Bill:</legend>       
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 form-group">
            <label for="date">Date</label>
            <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                <div *ngIf="f.date.errors.required">Please select date</div>
            </div>
        </div>                          
        
        <div class="col-md-4 col-lg-4 col-sm-4 form-group">
            <label for="cylinderType">Cylinder Type</label>            
            <select id="category" class="form-control" formControlName="cylinderType">
                <option value="" >select a category</option>
                <option *ngFor="let item of ['Domestic', 'Commercial']" value={{item}}>{{item}}</option>
              </select>
            <div *ngIf="submitted && f.cylinderType.errors" class="invalid-feedback">
                <div *ngIf="f.cylinderType.errors.required">Cylinder type is required</div>
            </div>
        </div>  
        
        <div class="col-md-4 col-lg-4 col-sm-4 form-group">
            <label for="cylinderSize">Cylinder Size</label>
            <select class="form-control" formControlName="cylinderSize">
                <option value="">Select Size</option>
                <option value='12'>12</option>
                <option value='15'>15</option>
                <option value='17'>17</option>
                <option value='21'>21</option>                        
            </select>
            <div *ngIf="submitted && f.cylinderSize.errors" class="invalid-feedback">
                <div *ngIf="f.cylinderSize.errors.required">Cylinder Size is required</div>
            </div>
        </div>
        </div>        
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="quantity">Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="rate">Rate </label>
                <input type="text" formControlName="rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rate.errors }" />
                <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                    <div *ngIf="f.rate.errors.required">Rate is required</div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="totalAmount">Total Amount</label>
                <input type="text" formControlName="totalAmount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.totalAmount.errors }"
                />
            </div>
        </div>
        <br>
        <div class="form-group">            
            <button [disabled]="loading" class="btn btn-primary saveButton" (click)="saveStockBill()">Save Bill</button>
        </div>        
    </form>
    <br>
    <hr>
    <br>
    <form>        
        <legend>Miscellaneous Bill:</legend> 
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="date">Date</label>
                <input type="date" name="date" [(ngModel)]="modal.date" class="form-control" />                
            </div>                          
            
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="description">Description</label>
                <input type="text" name="description" [(ngModel)]="modal.description" class="form-control"/>                
            </div>  
            
            <div class="col-md-4 col-lg-4 col-sm-4 form-group">
                <label for="netAmountPayable">Amount</label>
                <input type="Number" name="netAmountPayable" [(ngModel)]="modal.netAmountPayable" class="form-control" />                                
            </div>
        </div>
        <br>
        <div class="form-group">            
            <button [disabled]="!(modal.date &&  modal.netAmountPayable)" class="btn btn-primary saveButton" (click)="saveMisc()">Save Bill</button>
        </div>
    </form> 
</div>
<br>
<br>
<br>
<!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2 offset-md-1">
              <h4> Select Duration</h4>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 form-group">          
              <select class="form-control">
                    <option default>Select Month</option>
                    <option>whole year</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 form-group">          
              <select class="form-control">
                    <option default>Select Year</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                  </select>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3  form-group">
                <button [disabled]="search_loading" class="btn btn-primary">Download</button>            
            </div>
          </div>
    </div>     -->
