<form [formGroup]="transactionForm" > 
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
      <h4> Select Duration</h4>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 form-group">          
      <select formControlName="flag" class="form-control">
            <option value="" default>Select Bill</option>
            <option  value="customer">Customer</option>
            <option  value="dealer">Dealer</option>
            <option  value="stock">Stock</option>
            <option  value="miscellaneous">Miscellaneous</option>            
          </select>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 form-group">          
      <select formControlName="months" class="form-control">
            <option value ="" default>Select Month</option>
            <option value="whole" default>whole year</option>
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>            
          </select>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 form-group">          
      <select formControlName="year" class="form-control">
        <option value="" default>Select Year</option>
        <option  value="2018" >2018</option>
        <option  value="2019">2019</option>
        <option  value="2020">2020</option>
        <option  value="2021">2021</option>
        <option  value="2022">2022</option>
        <option  value="2023">2023</option>
        <option  value="2024">2024</option>
      </select>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3  form-group">
        <button [disabled]="!transactionForm.valid" class="btn btn-primary" (click)="search()">Search</button>            
    </div>
  </div>
</form>

<div *ngIf = 'show_table' class="table-responsive">
  <table class="table table-hover" *ngIf="tempData.flag == 'customer' ">
    <thead>
      <tr style="border: 1px solid black;text-align:center;">
        <!-- <th scope="col">#</th> -->
        <th scope="col-md-1">Customer Name</th>
        <th scope="col-md-1">Customer Address</th>
        <th scope="col-md-1">Bill Number</th>
        <th scope="col-md-1">Party GSTIN</th>
        <th scope="col-md-1">Date</th>
        <th scope="col-md-1">Description</th>
        <th scope="col-md-1">cylinder Size</th>
        <th scope="col-md-1">Quantity</th>
        <th scope="col-md-1">Rate</th>
        <th scope="col-md-1">Total Amount</th>
        <th scope="col-md-1">CGST %</th>
        <th scope="col-md-1">SGST %</th>
        <th scope="col-md-1">Net Amount Payable</th>
        <th scope="col-md-1">Amount Paid </th>
        <th scope="col-md-1">Amount Due</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transactionDetails.data" (click)="update_customer(item)" style="text-align:center;">
        <td>{{item.customerName}}</td>
        <td>{{item.address}}</td>
        <td>{{item.billNumber}}</td>
        <td>{{item.partyGstNumber}}</td>
        <td>{{item.date}}</td>
        <td>{{item.description}}</td>
        <td>{{item.cylinderSize}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.rate}}</td>
        <td>{{item.totalAmount}}</td>
        <td>{{item.cgst}}</td>
        <td>{{item.sgst}}</td>
        <td>{{item.netAmountPayable}}</td>
        <td>{{item.amountPaid}}</td>
        <td>{{item.amountDue}}</td>        
      </tr>
    </tbody>
  </table>

  <table class="table table-hover" *ngIf="tempData.flag == 'stock' ">
      <thead>
        <tr style="border: 1px solid black;text-align:center;">
          <!-- <th scope="col">#</th> -->          
          <th scope="col-md-1">Date</th>
          <th scope="col-md-1">Cylinder Type</th>
          <th scope="col-md-1">Cylinder Size</th>
          <th scope="col-md-1">Quantity</th>
          <th scope="col-md-1">Rate</th>          
          <th scope="col-md-1">Net Amount Payable</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactionDetails.data" (click)="update_customer(item)" style="text-align:center;">          
          <td>{{item.date}}</td>
          <td>{{item.cylinderSize}}</td>
          <td>{{item.cylinderType}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.rate}}</td>          
          <td>{{item.netAmountPayable}}</td>
        </tr>
      </tbody>
  </table>

  <table class="table table-hover" *ngIf="tempData.flag == 'miscellaneous' ">
      <thead>
        <tr style="text-align:center;">
          <!-- <th scope="col">#</th> -->          
          <th scope="col-md-1">Date</th>
          <th scope="col-md-1">Description</th>          
          <th scope="col-md-1">Total Amount</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactionDetails.data" (click)="update_customer(item)" style="text-align:center;">         
          <td>{{item.date}}</td>
          <td>{{item.description}}</td>                    
          <td>{{item.netAmountPayable}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-hover" *ngIf="tempData.flag == 'dealer' ">
        <thead>
          <tr style="border: 1px solid black;text-align:center;">
            <!-- <th scope="col">#</th> -->            
            <th scope="col-md-1">Date</th>
            <th scope="col-md-1">Dealer</th>
            <th scope="col-md-1">Cylinder Size</th>
            <th scope="col-md-1">Quantity</th>
            <th scope="col-md-1">Rate</th>
            <th scope="col-md-1">Total Amount</th>            
            <th scope="col-md-1">Amount Paid </th>
            <th scope="col-md-1">Amount Due</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactionDetails.data" (click)="update_customer(item)" style="text-align:center;">            
            <td>{{item.date}}</td>
            <td>{{item.dealer}}</td>
            <td>{{item.cylinderSize}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.rate}}</td>            
            <td>{{item.netAmountPayable}}</td>
            <td>{{item.amountPaid}}</td>            
            <td>{{item.amountDue}}</td>
          </tr>
        </tbody>
      </table>

</div>


<button [disabled]="download_loading" *ngIf="show_table" class="btn btn-primary" (click)='download_excel()'>Download Excel</button>
